body{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    
    color: #626262;
}

ul{
    list-style: none;
}

.nav-link:hover,
.nav-link:focus{
    color: #03A9F4;
}

.nav-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;

    color: #7D7D7D;
}

.text{
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    color: #B4AD9E;
}

.main-h2{
    font-size: 30px;
    line-height: 40px;

}

.main-p{
    font-size: 14px;
    line-height: 19px;

}

