body{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    
}

.nav-link{
    font-size: 14px;
    line-height: 19px;

    color: #7D7D7D;
}

.text{
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    color: #B4AD9E;
}

.main-h2{
    font-size: 30px;
    line-height: 40px;

    color: #626262;
}

.main-p{
    font-size: 14px;
    line-height: 19px;

    color: #626262;
}

