body{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    
    color: #626262;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* header*/

.container{
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.header{
    padding: 71px 0px 92px 0px ;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item:not(:first-child){
    margin-left: 100px;
}

.nav-link:hover,
.nav-link:focus{
    color: #03A9F4;
}

.nav-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;

    color: #7D7D7D;
}

/* main  */

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 62px;
}

.item{
    width: 420px;
}

.item:nth-child(-n+4){
    margin-bottom: 130px;
}

img{
    margin-bottom: 62px;
}

.text{
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 32px;

    color: #B4AD9E;
}

.main-h2{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 42px;
}

.main-p{
    font-size: 14px;
    line-height: 19px;
}






.button{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #626262;
    background-color: white;
    padding: 20px 48px;
}